<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Heart Rate</title>
    <style>
        :root {
            --base-size: 5em;
            --spacing: .1em;
        }

        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--base-size); /* Scale the base font size */
        }

        .container {
            display: flex;
            align-items: center;
        }

        h1 {
            font-size: 1em; /* Relative to the base size */
            margin: 0;
        }

        .gif {
            width: 1em; /* Match the height of the text */
            height: 1em; /* Ensure it's a square */
            margin-right: var(--spacing); /* Adjust spacing between the GIF and text */
        }
    </style>
</head>
<body>
<div class="container" id="container">
    <img src="https://media.tenor.com/S_5CXPmzrlkAAAAi/love-you-heart.gif" alt="GIF" class="gif" id="heartGif" style="display: none;">
    <h1 id="hr">Disconnected</h1>
</div>
<script>
    function connectWebSocket() {
        const socket = new WebSocket('/ws');

        socket.onopen = function(_) {
            console.log('WebSocket opened.');
        };

        socket.onmessage = function(event) {
            const message = JSON.parse(event.data);
            const hrElement = document.getElementById('hr');
            const gifElement = document.getElementById('heartGif');

            if (message.hr_state && message.hr_state.ok && message.hr_state.ok.hr) {
                hrElement.textContent = message.hr_state.ok.hr;
                gifElement.style.display = 'block';
            } else if (message.hr && message.hr === "disconnected") {
                hrElement.textContent = 'Disconnected';
                gifElement.style.display = 'none';
            }
        };

        socket.onclose = function(_) {
            console.log('WebSocket closed. Reconnecting...');
            const hrElement = document.getElementById('hr');
            const gifElement = document.getElementById('heartGif');
            hrElement.textContent = 'Disconnected';
            gifElement.style.display = 'none';
            setTimeout(connectWebSocket, 200); // Reconnect after 100ms
        };

        socket.onerror = function(error) {
            console.log('WebSocket error:', error);
            socket.close();
        };
    }

    document.addEventListener('DOMContentLoaded', function() {
        connectWebSocket();
    });
</script>
</body>
</html>